<div class="container">
  <div class="post-list no-decoration">
    {% if page.banner == true %}
      <span class="date">Other ways to get in touch</span>
      {% else %}
      <span class="date">Ways to get in touch</span>
    {% endif %}
    <hr>
    <div class="row">
      <div class="post-item email">
        <a href="mailto:{{ site.email }}" target="_blank"><p class="title">Email me<span class="status-icon status-icon-mail"></span></p></a>
      </div>
      <div class="post-item">
        <a href="https://www.linkedin.com/in/denismoulin" target="_self"><p class="title">Linkedin<span class="status-icon status-icon-direction"></span></p></a>
      </div>
      <div class="post-item">
        <a href="https://github.com/denismoulin" target="_self"><p class="title">Github<span class="status-icon status-icon-direction"></span></p></a>
      </div>
      <div class="post-item">
        <a href="https://dribbble.com/denismoulin" target="_self"><p class="title">Dribbble<span class="status-icon status-icon-direction"></span></p></a>
      </div>
    </div>
    <hr>
  </div>
</div>
