<div class="container">
  <div class="post-list">
    <span class="date">Selected work</span>
    {% for post in site.posts %}
    {% if post.featured == true %}
      <hr>
      <div class="post-item post featured">
          <a href="{{ post.url }}">
            <ul>
              <li class="cover">
                <figure>
                  <img class="lazy" data-original="{{ site.url }}/assets/images/posts/{{ post.cover }}" with="auto" height="100%">
                </figure>
              </li>
              <li class="infos">
                  <p class="title">{{ post.title }}</p>
                {% if post.description %}
                  <p class="description">{{ post.description  | truncate: 220, '...' }}</p>
                  {% else %}
                {% endif %}
              </li>
            </ul>
          </a>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
