<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} by {{ site.author }} {% else %} {{ site.title }} {% endif %}</title>
  <meta name="description" content="{% if page.description %} {{ page.description }} – {{ site.author }} {% else %} My name is {{ site.author }}, I'm a multi-disciplinary designer based in {{ site.local }} {% endif %}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
  <meta property="og:url" content="https://denismoulin.com" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} by {{ site.author }} {% else %} {{ site.title }} {% endif %}" />
  <meta property="og:description" content="{% if page.description %} {{ page.description }} – {{ site.author }} {% else %} My name is {{ site.author }}, I'm a multi-disciplinary designer based in {{ site.local }} {% endif %}" />
  <meta property="og:image" content="{% if page.cover %}{{ site.url }}https://denismoulin.com//assets/images/posts/{{ page.cover }} {% else %} https://denismoulin.com/assets/icons/twitter-card.png {% endif %}" />
  <!-- Icon icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#EEEEEE">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
  <link rel="stylesheet" href="/assets/main.css">
  <link href="/assets/css/zoom.css" rel="stylesheet">
  <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_org'] = 'ATHWW';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
        if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
        g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
        o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
        y="rec";g.shutdown=function(i,v){g(y,!1)};g.restart=function(i,v){g(y,!0)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(){};
      })(window,document,window['_fs_namespace'],'script','user');
  </script>
</head>
