<header class="hero">
  <div class="container">
    <div class="patterns patterns--dots patterns--hero ">
      <!--
      <div class="square square--wrapper">
        <div class="square square__line square__line--a"></div>
        <div class="square square__line square__line--b"></div>
      </div>
      -->
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
    </div>
    <h1>Hello<span class="move">,</span><br><br>I'm {{ site.author }}, <span>a <b class="tooltip"><span>Research, writing, User Interfaces, Information Architecture, Visual design, Prototyping, Front-end development.</span>product designer</b></span> based in <i>{{ site.local }}</i>.</h1>
    <p>I enjoy working on branding, product design, and strategy with passionate people. I create compelling and simple-to-use designs, whether it's a website or an interface.</p>
    <br>
    <a href="/p/1988/profile.html" class="button button--combo">About page<span class="status-icon status-icon-direction"></span></a>
    <a href="mailto:{{ site.email }}" class="button button--combo button--green email">Email me<span class="status-icon status-icon-mail status-icon-mail-white"></span></a>
  </div>
</header>
