<div class="container">
  <div class="post-list no-decoration">
    <span class="date">Skills and interests</span>
    <hr>
    <div class="post-item">
      <span>End-to-end product design</span>
    </div>
    <hr>
    <div class="post-item">
      <span>Software interface design</span>
    </div>
    <hr>
    <div class="post-item">
      <span>Brand & Art direction</span>
    </div>
    <hr>
    <div class="post-item">
      <span>Prototyping tools</span>
    </div>
    <hr>
    <div class="post-item">
      <span>Front-End Development</span>
    </div>
    <hr>
  </div>
</div>
